* {
    font-family: 'Poppins', sans-serif;
}

.container_inicio{
    display: flex;
    flex-direction: column;
    padding-left: 96px;
    width: 15vw;
    gap: 20px;
}

.subtitulo{
    width: 30vw;
    font-size: 4rem;
    flex-wrap: wrap;
}

.computador{
    width: 25vw;
}

.img__estudante {
    position: relative;
    left: 10%;
}

.estudante{
    width: 15vw;

    
}
.conteudo{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.container__card {
    display: flex;
    overflow-y: auto;
    gap: 25px;
    width: 30vw;
    height: 70vh;
    max-height: 100%;
    padding-right: 10px;
    justify-content: space-evenly;
    flex-direction: column;
}
.cards{
    align-items: center;
    display: flex;
    min-width: 100%;
    min-height: 25%;
    flex-direction: row;
    justify-content: space-around;
    background-color:#3347B0;
    box-sizing: border-box;
    border: 1px solid #000000;
    box-shadow: 12px 12px 4px rgba(51, 71, 176, 0.5);
    cursor: pointer;
}

.cards:hover {
    background-color: #283781;
}

.icone__curso{
    color: #ffff;
    font-size: 64px;
    height: 76px;
    filter: invert(100%);
}
.nome__card{
    color: #ffff;
    font-size: 64px; 
}

@media(max-width: 600px){

    .conteudo {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        padding-top: 20px;
        width: 100vw;
    }

    .container_inicio {
        padding-left: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: relative;
        left: -20%;
        width: 40vw;
    }
    
    .subtitulo {
        font-size: 1.5rem;
        width: 50vw;
        height: 14vh;
        padding-top: 15px;
    }

    .img__estudante {
        position: absolute;
        top: 22%;
        left: 62%;
    }

    .computador {
        width: 45vw;
    }

    .estudante {
        width: 30vw;
    }

    .container__card { 
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 40vh;
        width: 100vw;
        padding: 20px;
        gap: 20px;
        flex-wrap: wrap;
    }

    .cards p {
        font-size: 2rem;
    }

    .icone__curso {
        font-size: 2rem;
        height: 5vh;
    }

    .cards {
        height: 15vh;
        min-width: 40vw;
    }
}