.barra{
  position: relative;
  width: 100%;
  height: 50px;
  background: #BCC2E5;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.lista__legenda {
  display: flex;
  justify-content: space-around;
  width: 20%;
}

.status{
  color: #3347B0;
  font-size: 20px;
  width: 50px;
}

.filtro__ano {
  text-align: center;
  font-weight: bold;
  color: #3347B0;
  font-size: 1.2rem;
  position: relative;
  left: 5%;
}

.input_ano {
  border: none;
  height: 20px;
  width: 100px;
  border-radius: 10px;
  padding-left: 40px;
}

.legenda{
  color: #3347B0;
  font-size: 18px;
  width: 50px;
}

.card__azul{
  width: 20px;
  height: 20px;
  background: #3347B0;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

.cursando{
  color: #3347B0;
  font-size: 18px;
  width: 50px;
  padding-left: 25px;
}

.card__amarelo{  
  width: 20px;
  height: 20px;
  background: #E5B657;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);  
}

.finalizado{
  color: #3347B0;
  font-size: 18px;
  width: 50px;
  padding-left: 25px;
}

.container__titulo__turma {
  width: 100%;
}


.titulo__turma{
  color: #3347B0;
  font-size: 64px;
  width: 100%;
  text-align: center;
}

.conteudo__turma{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
    
}

.lista__alunos{
  padding: 5%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  height: 50vh;
  width: 80vw;
  overflow-y: auto;
  justify-content: center;
}

.cards__turma{
  width: 200px;
  height: 300px;
  background: #3347B0;
  box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: 0.4s;
  border-radius: 5px;
}

.cards__turma:hover{
  background: #5f4efa;
}

.cards__turma__amarelo {
  width: 200px;
  height: 300px;
  box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.25); 
  background-color: #E5B657;
  cursor: pointer;
  transition: 0.4s;
  border-radius: 5px;
}

.cards__turma__amarelo:hover{
  background: #f5d088;
}

.foto__estudante {
  height: 200px;
  width: 200px;
}

.descricao__aluno {
    color: #ffff;
    text-align: center;
    font-size: 18px;  
}

.menu li{
  position: relative;
  float: left;
  background-color: #3347B0;
  
}

.menu li {
  color:#FFFFFF; 
  padding:5px 10px; 
  display:block;
  transition: ease-in-out;
}

.menu li:hover{
  color:#fff;
  text-shadow:0px 0px 5px #fff;
  text-decoration: underline 2px;
  
}

.menu li ul{
  position:absolute;
  top:25px;
  left:0;
  background-color:#fff;
  display:none;
}

.menu li:hover ul, .menu li.over ul{
  display:block;
}

.menu li ul li{
  border:1px solid #5f4efa;
  display:block;
  width:150px;
  cursor: pointer;
}

.menu li:hover  {
  opacity: 0.25;
}

.menu li:hover {
  opacity: 1;
}

.item__lista__status {
  cursor: pointer;
}

.sair {
  cursor: pointer;
}

.sair:hover{
  font-weight: bold;
  
}

@media(max-width: 600px) {

  .container__titulo__turma{
    display: flex;
    width: 100%;
  }

  .barra {
    height: 10vh;
  }

  .lista__legenda {
    display: flex;
    flex-direction: column;
    width: 120px;
    height: 100%;
  }

  .lista__legenda p {
    font-size: 0.9rem;
  }

  .card__azul {
    height: 15px;
    width: 15px;
  }

  .card__amarelo {
    height: 15px;
    width: 15px;
  }

  .titulo__turma {
    font-size: 2.5rem;
    text-align: center;
  }

  .lista__alunos {
    width: 100%;
  }

  .cards__turma {
    width: 95vw;
    height: 15vh;
    display: flex;
    align-items: center;
  }

  .cards__turma img {
    height: 100px;
    width: 100px;
  }

  .cards__turma p {
    font-size: 1.5rem;
    width: 80%;
  }

  .cards__turma__amarelo {
    width: 90vw;
    height: 15vh;
    display: flex;
    align-items: center;
  }

  .cards__turma__amarelo img {
    height: 100px;
    width: 100px;
  }

  .cards__turma__amarelo p {
    font-size: 1.5rem;
    width: 80%;
  }

  .filtro__ano {
    width: 100px;
    font-size: 0.8rem;
  }

  .input_ano {
    padding-left: 0px;
  }

}





